@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap");
body section#banner {
  height: 800px;
  background: url("/imgs/banner-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section#banner .title {
  width: 629px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 105px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: unset;
  margin-bottom: 35px;
}

body section#banner .line {
  width: 204px;
  border-bottom: 2px solid white;
  margin-bottom: 45px;
}

body section#banner .caption {
  width: 480px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: unset;
  margin-bottom: 45px;
}

body section#banner .banner-button {
  background-color: rgba(242, 121, 15, 0.88);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  width: 152px;
  height: 46px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  border: none;
}
