@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    max-width: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;

    header#top-menu {
        width: 100%;
        height: 124px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 767px) {
            width: 100%;
        }

        #nav-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1134px;

            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                
                .logo-image {
                    padding-right: 10px;
                    width: 63px;
                }

                .logo-text {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight:bolder;
                    font-size: 36px;
                    line-height: 48px;
                    color: #000000;
                }
            }

            .menu {
                display: flex;
                justify-content: space-between;
                width: 361px;
                list-style: none;
                overflow: hidden;

                .menu-option {
                    float: left;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 31px;
                    color: #000000;
                    text-align: center;
                    text-decoration: none;
                }

                .hvr-underline-from-left {
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;
                    overflow: hidden;

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        right: 100%;
                        bottom: 0;
                        background: #FD7600;
                        height: 4px;
                        -webkit-transition-property: right;
                        transition-property: right;
                        -webkit-transition-duration: 0.25s;
                        transition-duration: 0.25s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                      }

                      &:hover:before, 
                      &:focus:before,
                      &:active:before {
                        right: 0;
                      }
                  }
            }

            .login-button {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 31px;
                text-align: center;
                background-color: white;
                color: #000000;
                border: 2px solid #000000;
                border-radius: 4px;
                padding: 8px 32px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                transition: all ease-in-out 0.2s;

                &:hover {
                    transition: all ease-in-out 0.2s;
                    background-color: #FD7600;
                    color: white;
                    border: 2px solid #FD7600;
                }
            }
        }
    }

    section#banner {
        height: 800px;
        background: url('/imgs/banner-desktop2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            width: 629px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 800;
            font-size: 72px;
            line-height: 105px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            margin: unset;
            margin-bottom: 35px;              
        }

        .white-line {
            width: 204px;
            border-bottom: 2px solid white;
            margin-bottom: 45px; 
        }

        .caption {
            width: 480px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 42px;
            text-align: center;     
            color: #FFFFFF;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            margin: unset;
            margin-bottom: 45px;           
        }

        .banner-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(242, 121, 15, 0.88);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;  
            width: 152px;
            height: 46px;       
            text-decoration: none;
            cursor: pointer;
            border: none;
            transition: all ease-in-out 0.15s;
                    
            &:hover {
                transition: all ease-in-out 0.15s;
                background-color: #000000;
                color: #ffffff;
            }
        }
    }

    .circle-decoration-1 {
        height: 400px;
        width: 400px;
        border: 3px solid #F2790F;
        border-radius: 50%;
        position: absolute;
        top: 781px;
        right: -112px;
    }

    section#module-1 {
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            width: 1134px;

            .title-info {
                .circle {
                    background-color: #FD7600;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    margin-top: 111px;
                }
                
                h1 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 76px;     
                    color: #000000;
                    margin: unset;
                    margin: 30px 0 27px 0;   
                    width: 464px;                 
                }

                .orange-line {
                    width: 464px;
                    border-bottom: 4px solid #FD7600;
                    margin-bottom: 58px;
                }
            }

            .grid-options {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 246px;
                grid-gap: 40px;
                margin-bottom: 111px;                

                .option-item {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 547px;
                    height: 246px;
                    border: 2.5px solid #000000 !important;
                    box-sizing: border-box;

                    .first {
                        width: 262px;
                    }

                    .second {
                     width: 279px;
                    }

                     .third {
                         width: 274px;
                     }

                     .fourth {
                         width: 261px;
                     }

                    .content-item {
                        .title {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 36px;
                            line-height: 56px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            color:#FD7600;
                            margin-bottom: 16px;
                        }

                        .caption {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 31px;
                            display: flex;
                            align-items: center;
                            color:#000000;

                        }
                    }
                }
            }
        }
    }

    section#module-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F7F7F7;

        .content {
            display: flex;
            width: 1134px;
            position: relative;
            height: 925px;

            .title-info {
                .circle {
                    background-color: #FD7600;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    margin-top: 111px;
                }
                
                h1 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 76px;     
                    color: #000000;
                    margin: unset;
                    margin: 30px 0 27px 0;   
                    width: 546px;                 
                }

                .orange-line {
                    width: 628px;
                    border-bottom: 4px solid #FD7600;
                    margin-bottom: 58px;
                    position: absolute;
                    z-index: 1;
                }

                .caption {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 42px;
                    color: #000000;
                    width: 490px;
                   padding: 40px 0 40px 0;
                }

                .register-link {
                    background: #F2790F;
                    border-radius: 4px;
                    background: #F2790F;
                    border-radius: 4px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: #FFFFFF;
                    width: 217px;
                    height: 46px;
                    padding: 10px 20px 10px;
                    text-decoration: none;
                    transition: all ease-in-out 0.15s;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    
                    &:hover {
                        transition: all ease-in-out 0.15s;
                        background-color: #000000;
                        color: #ffffff;
                    }
                }
            }

            .module-2-img {
                width: 526px;
                position: absolute;
                top: 111px;
                right: 0;
                z-index: 0;
            }

            .orange-rectangle {
                width: 526px;
                height: 704px;
                position: absolute;
                top: 131px;
                right: -20px;
                background: rgba(242, 121, 15, 0.14)
            }
        }
    }

    .circle-decoration-2 {
        height: 350px;
        width: 350px;
        border: 3px solid #F2790F;
        border-radius: 50%;
        position: absolute;
        top: 2609px;
        left: -135px;
    }

    section#module-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .content {
            display: flex;
            justify-content: center;
            width: 1134px;
            margin-top: 111px;
            
            .title-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .title-text {
                    .circle {
                        background-color: #FD7600;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                    }
                    
                    h1 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 60px;
                        line-height: 76px;     
                        color: #000000;
                        margin: unset;
                        margin: 30px 0 27px 0;   
                        width: 625px                 
                    }
    
                    .orange-line {
                        width: 625px;
                        border-bottom: 4px solid #FD7600;
                        margin-bottom: 190px;
                    }
                }
            }

            img {
                height: 155px;
                width: 110px;
            }
        }

        .services {   
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 1134px;
            margin-bottom: 111px;

            .services-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                .circle-image {
                    border: 2.5px solid #000000;
                    border-radius: 50%;
                    position: absolute;
                    top: -129px;
                }

                .service-content {
                    display: flex;
                    justify-content: center;
                    width: 632px;
                    height: 425px;                    
                    border: 2.5px solid #000000;
                    
                    .service-info {
                        height: 163px;
                        width: 532px;
                        margin-top: 163px;                        

                        .service-title {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 42px;
                            line-height: 65px;
                            color: #FD7600;                        
                        }
    
                        .service-description {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: normal;
                            font-size: 23px;
                            line-height: 34px;
                            color: #000000;
                            
                            .strong {
                                font-weight: bold;
                            }
                        }
                    }

                    .show-content {
                        animation: show .5s forwards;

                        @keyframes show {
                            from {
                                opacity: 0;
                                transform: translate3d(-30px, 0, 0);
                            }
                            to {
                                opacity: 1;
                                transform: translate3d(0, 0, 0);                            
                            }
                        }
                    }
                }
            }

            .services-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                
                .service-option {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 328px;
                    height: 67px;                    
                    background-color: rgba(242, 121, 15, 0.88);
                    border-radius: 4px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 36px;                    
                    color: #FFFFFF;
                    text-decoration: none;
                    border: none;
                    cursor: pointer;
                    transition: all ease-in-out 0.15s;
                    
                    &:hover {
                        transform: scale(1.05);
                        transition: all ease-in-out 0.15s;
                        box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }

    .circle-decoration-3 {
        height: 400px;
        width: 400px;
        border: 3px solid #F2790F;
        border-radius: 50%;
        position: absolute;
        top: 3859px;
        right: -135px;
    }

    section#module-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F7F7F7;
        
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 1134px;
            margin-top: 131px;
            
            .title-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .title-text {
                    .circle {
                        background-color: #FD7600;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                    }
                    
                    h1 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 60px;
                        line-height: 76px;     
                        color: #000000;
                        margin: unset;
                        margin: 30px 0 27px 0;                 
                    }
    
                    .orange-line {
                        width: 414px;
                        border-bottom: 4px solid #FD7600;
                        margin-bottom: 100px;
                    }
                }
            }
        }

        .slider {
            .testimony-content {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 131px;

                img {
                   box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.25), inset 4px 4px 10px rgba(0, 0, 0, 0.25);
                   border-radius:  50%;
                   margin-right: 91px;
               }

               .testimony-text {
                   .testimony {
                       font-family: 'Poppins';
                       font-style: italic;
                       font-weight: 300;
                       font-size: 28px;
                       line-height: 42px;     
                       color: #000000;
                       width: 660px;
                       padding-bottom: 10px;
                   }

                   .person-name {
                       font-family: 'Poppins';
                       font-style: normal;
                       font-weight: 800;
                       font-size: 24px;
                       line-height: 37px;
                       color: #000000;
                   }
               }
            }
        }   
    }

    section#module-5 {
        display: flex;
        justify-content: center;
        align-items: center;


        .content {
            display: flex;
            padding: 134px 0 134px 0;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .title {
                    width: 498px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 82px;
                    color: #F2790F;
                    padding-bottom: 35px;                    
                }

                .register-button {
                    width: 242px;           
                    border: 2.5px solid #000000;
                    border-radius: 4px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 33px;
                    color: #000000;
                    padding: 9px 15px;
                    cursor: pointer;
                    transition: all ease-in-out 0.25s;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    
                    &:hover {
                        transition: all ease-in-out 0.15s;
                        background-color: #000000;
                        color: #ffffff;
                    }
                }
            }

            img {
                width: 240px;
                height: 240px;
                padding-left: 72px;
            }
        }
    }
}


/* #shopcart-menu {
    width: 400px;
    background-color: #fef2f2;
    font-family: Arantxa, sans-serif;
    top: 0;
    left: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .5s;

    #shopcart-menu.menu-opened {
        left: calc(100% - 400px);
    }

    #shopcart-menu.menu-closed {
        left: 100%;
    }
} */